@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700|Montserrat:700);
.navbar-brand {
    font-family:"Montserrat","Raleway","Roboto", Helvetica, sans-serif;
}
.hidden {
    display:none;
}
h1 {
    font-family:"Raleway","Roboto",Helvetica,sans-serif;
    font-weight:300;
}
body[unresolved] {
    display:none;
}
.centredInP {
    margin:auto;
}
.page {
    display:none;
}
.page.selected {
    display:block;
}
.page.selected.full {
    position:absolute;
    top:64px;
    bottom:0;
    left:0;
    right:0;
    padding:1em;
}
#login,#quiz {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;   
}